:root {
  --sps-hero-greeting-text-color:                          #3B82F6; /* 000000 3B82F6 */

  --sps-hero-twe-arrow-color:                              #00FFFF; /* 00AAAA 00FFFF */
  --sps-hero-twe-text-color:                               #F1F5F9; /* 000000 F1F5F9 */
  --sps-hero-twe-text-highlight-color:                     #B026FF; /* 6A0DAD B026FF */

  --sps-hero-description-color-text:                       #94A3B8; /* 000000 94A3B8 FFFFFF */

  --sps-hero-btn-primary-text-color:                       #FFFFFF; /* FFFFFF FFFFFF */
  --sps-hero-btn-secondary-text-color:                     #F1F5F9; /* 000000 F1F5F9 */

  --sps-hero-section-title-text-color:                     #FFFFFF; /* 000000 FFFFFF */
  --sps-hero-section-subtitle-text-color:                  #F1F5F9; /* 111111 F1F5F9 */

  --sps-skill-category-bg-color:                           #1E293B; /* EEEEEE 1E293B */
  --sps-skill-category-title-color:                        #FFFFFF; /* 000000 FFFFFF */
  --sps-skill-tag-name-color:                              #F1F5F9; /* 111111 F1F5F9 */
}

html.dark {
  --sps-hero-greeting-text-color:                          #000000; /* 000000 3B82F6 */

  --sps-hero-twe-arrow-color:                              #00FFFF; /* 00AAAA 00FFFF */
  --sps-hero-twe-text-color:                               #F1F5F9; /* 000000 F1F5F9 */
  --sps-hero-twe-text-highlight-color:                     #B026FF; /* 6A0DAD B026FF */

  --sps-hero-description-color-text:                       #94A3B8; /* 000000 94A3B8 FFFFFF */

  --sps-hero-btn-primary-text-color:                       #FFFFFF; /* FFFFFF FFFFFF */
  --sps-hero-btn-secondary-text-color:                     #F1F5F9; /* 000000 F1F5F9 */

  --sps-hero-section-title-text-color:                     #FFFFFF; /* 000000 FFFFFF */
  --sps-hero-section-subtitle-text-color:                  #F1F5F9; /* AAAAAA F1F5F9 */

  --sps-skill-category-bg-color:                           #1E293B; /* EEEEEE 1E293B */
  --sps-skill-category-title-color:                        #FFFFFF; /* 000000 FFFFFF */
  --sps-skill-tag-name-color:                              #F1F5F9; /* 111111 F1F5F9 */
}
