---
// Currently section
---

<section class="skills">
  <div class="container">
    <h2 class="section-title">Currently <br/> 当前</h2>

    <div class="skills-grid">

      <div class="skill-category learning-category">
        <div class="category-header">
          <div class="category-icon learning">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <circle cx="12" cy="12" r="6"></circle>
              <circle cx="12" cy="12" r="2"></circle>
            </svg>
          </div>
          <h3 class="category-title">Currently Preparing <br/> 正在备战</h3>
        </div>
        <div class="skill-list">
          <span class="skill-tag learning tiks-hover">ABRSM Piano Grade 6</span>
        </div>
      </div>

      <div class="skill-category learning-category">
        <div class="category-header">
          <div class="category-icon learning">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <h3 class="category-title">Currently Doing <br/> 正在进行</h3>
        </div>
        <div class="skill-list">
          <span class="skill-tag learning tiks-hover"><b>Asteroids-like</b> game demo by <b>Bevy</b></span>
        </div>
      </div>

      <div class="skill-category learning-category">
        <div class="category-header">
          <div class="category-icon learning">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
              <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
            </svg>
          </div>
          <h3 class="category-title">Currently Learning <br/> 正在学习</h3>
        </div>
        <div class="skill-list">
          <span class="skill-tag learning tiks-hover">Bevy</span>
        </div>
      </div>

    </div>
  </div>
</section>
